.rmdb-loadmorebtn {
  background: #f8e808;
  width: 100%;
  min-height: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s;
}

.rmdb-loadmorebtn p {
  font-family: 'Netflix Sans',sans-serif;
  font-size:45px;
  padding: 20px;
}

.rmdb-loadmorebtn:hover {
  opacity: 0.8;
}