.rmdb-home {
  margin-bottom: 100px;
}

.rmdb-home-grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.Title {
  font-size: 15pt;
  color: #ffffff9d;
  font-family: 'Netflix Sans',sans-serif;
}

.logo-type {
  max-width: 100px;
  float: left;
}
